/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

body {
    background-color: #FFFFFF; /* Белый фон */
    color: #000000; /* Чёрный текст */
    margin: 0;
    padding: 0;
}

/* Эффект выделения текста */
::selection {
    background: #000000;
    color: #FFFFFF;
}

/* Форма */
form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 90%;
    overflow-y: auto;
}

/* Выбор (radio buttons) */
.choise {
    display: inline-flex;
    align-items: center;
    margin: 10px 0;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

input[type="radio"]:checked + label {
    background: #5a5a5a;
    color: #FFFFFF;
}

label:hover {
    color: #999;
}

input[type="radio"]:disabled + label {
    background: #efefef;
    color: #666;
}

/* Кнопки и элементы формы */
button, input[type="submit"], .form, .box {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover, input[type="submit"]:hover, .form:hover, .box:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); /* Эффект поднятия */
}

/* Общие тени */
.shadowed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shadowed:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
